body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
}

.app-icon{
    height: 20px;
    padding-right: 5px;
}

#btn-new{
    position: relative;
}

.range-container{
    display: inline;
}

.sidebar {
    padding-top: 65px;
    width: 150px;
    background-color: #52525b;
    position: fixed;
    height: 100%;
}

.right-sidebar{
    left: 80%;
    padding-top: 65px;
    width: 150px;
    background-color: #52525b;
    position: fixed;
    height: 100%;
}

.obj-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}