body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
}

.app-icon{
    height: 20px;
    padding-right: 5px;
}

#btn-new{
    position: relative;
}

.range-container{
    display: inline;
}